<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <div id="header_page">
        <ion-grid>
            <ion-row>
                <ion-col size="2" size-md></ion-col>
                <ion-col size="8" size-md>
                    <ion-img src="assets/img/logo/logovitafoam.png" id="imgLogo"> </ion-img>
                </ion-col>
                <ion-col size="2" size-md></ion-col>

            </ion-row>
        </ion-grid>
        
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md>
                    <div id="container">
                        <ion-card (click)="choisirUnMatelas()" id="cardcontent">
                            <ion-card-content>
                                <h2>
                                    CHOISIR UN MATELAS
                                </h2>
                            </ion-card-content>
                        </ion-card>
                        <ion-card (click)="onEvaluerChowRoom()" id="cardcontent">
                            <ion-card-content>
                                <h2>
                                    Evaluer le service client VITAFOAM
                                </h2>
                            </ion-card-content>
                        </ion-card>
                        <ion-card (click)="onQuizVitafoam()" id="cardcontent">
                            <ion-card-content>
                                <h2>
                                    LE QUIZ VITAFOAM
                                </h2>
                            </ion-card-content>
                        </ion-card>
                        
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="showContactPageModal()">
        <ion-fab-button>
            <ion-icon name="call-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
